$light-grey: #F3F3F3;
$white: #ffffff;
:host {
  /deep/ .data-table {
    margin-top: 55px;
    &-header {
      display: flex;
      &-search {
        position: relative;
        width: 315px;
        i {
          position: absolute;
          top: 8px;
          font-size: 16px;
          right: 15px;
          color: #c0bfbf;
          cursor: pointer;
        }
      }
      &-add-btn {
        position: absolute;
        right: 75px;
        button {
          padding: 3px 12px;
          background-color: #2020fb;
          color: $white;
          outline: none;
        }
      }
    }
    &-list {
      margin-top: 30px;
      ag-grid-angular {
        border: 1px solid lightgray;
        width: 100%;
        height: 500px;
        .ag-header {
          margin-bottom: 0;
          &-row {
            .fa-angle-up, .fa-angle-down {
              font-size: 18px;
            }
            .ag-header-cell-sortable {
              &.ag-column-hover {
                .ag-header-cell-sorted-none {
                  .ag-header-cell-label {
                    .ag-header-cell-text {
                      &::before {
                        content: "\F107";
                        font-family: FontAwesome;
                        opacity: 0.5;
                        float: right;
                        font-size: 18px;
                        padding-left: 8px;
                        color: darkgray;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .ag-body {
          .ag-row {
            border: none;
            &-even {
              background-color: $light-grey;
            }
            &-selected, &-hover {
              background-color: $white;
              &.ag-row-even {
                background-color: $light-grey;
              }
            }
            .ag-cell {
              color: #4A4A4A;
              &:focus {
                outline: none;
              }
            }
          }
        }
      }
    }
  }
}
