:host {
  .doc-page {
    margin: 40px 0;
    p {
      background-color: #ffffff;
      padding: 22px;
    }
    img {
      width: 270px;
      height: 270px;
      margin-right: 15px;
      float: right;
    }
  }
}
